:root {
  --white: white;
  --black: black;

}
@font-face {
  font-family: breviary;
  src: url(../fonts/breviary.otf)
}

.hero-stack {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-decoration: none;
  display: flex;
}

.text {
  color: #acacac;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-2 {
  color: #acacac;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18059 {
  grid-row-gap: 8px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1758px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 160px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-3 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 76.88px;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: #acacac;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.features-metrics {
  grid-row-gap: 32px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-2 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.columns {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-17916 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  display: flex;
}

.frame {
  grid-row-gap: 5.21996px;
  background-color: #545454;
  border-radius: 5.21996px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-4 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 120.54px;
  height: 19.9984px;
  text-decoration: none;
  display: flex;
}

.frame-17918 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

._2019 {
  color: #acacac;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.frame-17915 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #acacac;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18060 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-5 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  text-decoration: none;
  display: flex;
}

.frame-17919 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-17914 {
  grid-column-gap: 8px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-17921 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 92px;
  display: flex;
}

.text-5 {
  color: #acacac;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18061 {
  grid-row-gap: 5.21996px;
  background-color: #545454;
  border-radius: 5.21996px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 56px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-6 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 84.3038px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.frame-18062 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-18063 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 18.5px;
}

.frame-18064 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 28.5px;
}

.hero-stack-2 {
  grid-row-gap: 48px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 160px 24px 64px;
  text-decoration: none;
  display: flex;
}

.small-container-3 {
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-7 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-decoration: none;
  display: flex;
}

.text-6 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-7 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.hero-no-image {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-4 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 32px;
  text-decoration: none;
  display: flex;
}

.content {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-8 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-9 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.team-rectangles {
  grid-row-gap: 64px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.container {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.columns-2 {
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.card {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 368px;
  text-decoration: none;
  display: flex;
}

.info {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-10 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 120.54px;
  height: 19.9984px;
  text-decoration: none;
  display: flex;
}

.frame-18065 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

._2019---2 {
  color: #6e6e6e;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: block;
}

.frame-18066 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #ddd;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18067 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-11 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  text-decoration: none;
  display: flex;
}

.frame-18068 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18069 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18070 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 92px;
  display: flex;
}

.frame-17917 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-12 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 84.3038px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-13 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 124.47px;
  height: 21.9989px;
  text-decoration: none;
  display: flex;
}

.columns-3 {
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.info-2 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-14 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 120.54px;
  height: 19.9984px;
  text-decoration: none;
  display: flex;
}

.frame-18071 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

._2019---3 {
  color: #6e6e6e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.frame-18072 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #ddd;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18073 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-15 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  text-decoration: none;
  display: flex;
}

.frame-18074 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18075 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18076 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 92px;
  display: flex;
}

.vectors-wrapper-16 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 84.3038px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-17 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 124.47px;
  height: 21.9989px;
  text-decoration: none;
  display: flex;
}

.columns-4 {
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.info-3 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-18 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 120.54px;
  height: 19.9984px;
  text-decoration: none;
  display: flex;
}

.frame-18077 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18078 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-19 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  text-decoration: none;
  display: flex;
}

.frame-18079 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18080 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18081 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 92px;
  display: flex;
}

.vectors-wrapper-20 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 84.3038px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-21 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 124.47px;
  height: 21.9989px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-22 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.body {
  background-color: #232323;
}

.hero-stack-3 {
  grid-row-gap: 48px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 160px 24px 32px;
  text-decoration: none;
  display: flex;
}

.small-container-5 {
  grid-row-gap: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.profile-3 {
  object-fit: cover;
}

.text-10 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-11 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.hero-no-image-2 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-6 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-2 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-23 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.hero-no-image-3 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-7 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-3 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-24 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.team-rectangles-2 {
  grid-row-gap: 64px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.container-2 {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.columns-5 {
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.card-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 368px;
  text-decoration: none;
  display: flex;
}

.info-4 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-25 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 120.54px;
  height: 19.9984px;
  text-decoration: none;
  display: flex;
}

.frame-18082 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

._2019---4 {
  color: #6e6e6e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.frame-18083 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-12 {
  color: #ddd;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18084 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-26 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  text-decoration: none;
  display: flex;
}

.frame-18085 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18086 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18087 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 92px;
  display: flex;
}

.vectors-wrapper-27 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 84.3038px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-28 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 124.47px;
  height: 21.9989px;
  text-decoration: none;
  display: flex;
}

.hero-no-image-4 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-8 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-4 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-29 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.team-rectangles-3 {
  grid-row-gap: 64px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.columns-6 {
  grid-column-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.card-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 240px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-30 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 135px;
  text-decoration: none;
  display: flex;
}

.info-5 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.text-13 {
  color: #6e6e6e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.finding-product-market-fit-retention-and-engagement-growth-strategy-etc {
  color: #ddd;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18088 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.hero-no-image-5 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-9 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-5 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-31 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.hero-no-image-6 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-10 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-6 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-32 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.hero-stack-4 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-11 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.title-section {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-14 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-15 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.image-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image {
  object-fit: cover;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.hero-stack-5 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-12 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.text-16 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-17 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.hero-stack-6 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-13 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.text-18 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-19 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.small-container-14 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.text-20 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-21 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.small-container-15 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.text-22 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-23 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.hero-no-image-7 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-16 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-7 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-33 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.columns-7 {
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.info-6 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-34 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 120.54px;
  height: 19.9984px;
  text-decoration: none;
  display: flex;
}

.frame-18089 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

._2019---5 {
  color: #6e6e6e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.frame-18090 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-24 {
  color: #ddd;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.frame-18091 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-35 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  text-decoration: none;
  display: flex;
}

.frame-18092 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18093 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18094 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 92px;
  display: flex;
}

.vectors-wrapper-36 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 84.3038px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-37 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 124.47px;
  height: 21.9989px;
  text-decoration: none;
  display: flex;
}

.hero-no-image-8 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-17 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-8 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-38 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.team-rectangles-4 {
  grid-row-gap: 64px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.columns-8 {
  grid-column-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.card-4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 240px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-39 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 135px;
  text-decoration: none;
  display: flex;
}

.info-7 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.text-25 {
  color: #6e6e6e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.frame-18095 {
  grid-column-gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.hero-no-image-9 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-18 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-9 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-40 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.hero-no-image-10 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-19 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-10 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-41 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.small-container-20 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.text-26 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-27 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.hero-no-image-11 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-21 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-11 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-42 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.small-container-22 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  text-decoration: none;
  display: flex;
}

.text-28 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-29 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.hero-no-image-12 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-23 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-12 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-43 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.text-30 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.hero-no-image-13 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-24 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-13 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-44 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.text-31 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.hero-no-image-14 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-25 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-14 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-45 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 2px;
  text-decoration: none;
  display: flex;
}

.hero-no-image-15 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-26 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-15 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-46 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.small-container-27 {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.text-32 {
  color: #ddd;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-33 {
  color: #6e6e6e;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.text-34 {
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.actions {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  text-decoration: none;
  display: flex;
}

.button {
  grid-column-gap: 8px;
  background-color: #000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-35 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.hero-no-image-16 {
  grid-row-gap: 80px;
  background-color: #232323;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 24px 160px;
  text-decoration: none;
  display: flex;
}

.small-container-28 {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.content-16 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-47 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

@media screen and (max-width: 991px) {
  .columns-2, .columns-3, .columns-4, .columns-5, .columns-6, .columns-7, .columns-8 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }
}
