@font-face {
  font-family: 'breviary';
  src: url(./fonts/breviary.otf) format("opentype");
}

.inter {
  font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #232323;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 120px;
  padding-bottom: 24px;
}

h1 {
  font-family: 'breviary';
  font-weight: normal;
  font-size: 48px;
  color: #dddddd;
}

h2 {
  font-family: 'inter';
  font-weight: normal;
  font-size: 20px;
  line-height: 1.6;
  color: #dddddd;
}

h3 {
  font-family: 'inter';
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #6E6E6E;
  margin: 0px;
  padding: 0px;
}

h4 {
font-family: 'inter';
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #dddddd;
  margin: 0px;
  padding: 0px;
}

.text-wrapper {
  text-align: center;
  align-items: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto
}

div {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container {
  padding: 16px;
  margin: 0px 40px;
  align-items: center;
  gap: 80px;
}

.container-small-spacing {
  gap: 8px;
  margin: 0px;
  max-width: 400px;
  
}

.container-medium-spacing {
  gap: 16px; /* Medium spacing (default) */
}

.container-large-spacing {
  gap: 32px; /* Larger spacing */
}

/* Optional: Use padding or margin for additional control */
.container-padding {
  padding: 16px;
}

.flex-container {
  display: flex;
  height: auto;
  min-height: 320px;
  width: auto;
  justify-content: center;
  padding: 0px;
  margin: 2% 4%;
}

.crop {
  align-items: center;
  border-radius: 32px;
  overflow: hidden;
  max-width: 1280px;
}


